#card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  width: 200px;
  text-align: center;
}

.label {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.img-container img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.price {
  font-size: 1em;
  color: #2c3e50;
  margin: 10px 0;
}

.type {
  font-size: 0.9em;
  color: #7f8c8d;
  margin-bottom: 10px;
}

.category {
  display: flex;
  align-items: center;
  justify-content: center;
}

.category img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}


/* INPUT */

.num-cont {
  display: flex;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.input-field {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}


.submit-button {
  padding: 12px 20px;
  color: black;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}


/* array card */

.card.in-cart {
  background-color: #d3f9d8;
}

.carrello {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.arrayCart {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

}

#totalPrice {

  font-size: 3em;
}

#totalPrice::after {
  content: "€";
  font-size: 0.8em;
  margin-left: 0.1em;
}
